@font-face {
  font-family: BebasNeue;
  src: url('https://mejdikazdarlli.github.io/jewellery/fonts/BebasNeueBook.ttf');
  font-weight: normal;
  font-style: normal;
}
:root{
  --gold:#bd9e74;
  --goldLighter:#bbab94;
  --darkBleu :#02080d;
  --lighterBleu:#062033;
}
body,
html {
  overflow: hidden;
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  font-weight: 400;
  font-size: 25px;
  user-select: none;
  height: 100vh;
  width: 100vw;
  font-family: BebasNeue;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-size: 25px;
  font-weight: 400;
}
.page__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.content-body,.content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.content-child{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 1%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: all .5s;
}
.content:hover .content-child{
  /* filter: grayscale(100%); */
  transform: scale(1.1);
  padding-right: 10%;
}
.content:hover h1{
  color: var(--gold);
}
.content:hover .content-child div{
  background-color:rgb(106, 106, 106);
}
.content:hover .content-child h2{
  color: white;
}
.left{
  background-image: url("jewel/pictures/atelier.jpg");
}
.center{
  background-image: url("jewel/pictures/MyFirstDiamons1.jpeg");
}
.right{
  background-image: url("jewel/pictures/perrydelarosa.jpg");
}
.content-child div {
  width:100%;
  height: auto;
  background-color: rgba(211, 211, 211, 0.62);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.content-child h1 {
  font-size: 2rem;
}
.logo-bg{
  display: flex;
  position: absolute;
  width: fit-content;
  height: fit-content;
  z-index: 2;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  cursor: pointer;
}
#logo{
  width:70px;
  height: auto;
}
#logotext{
  width: 120px;
  height: auto;
}

@media only screen and (max-width: 900px) {
  .logo-bg #logo{
    width: 50px;
  }
  .logo-bg #logotext{
    width: 90px;
      }
  .content-body{
    flex-direction: column;
  }
  .content-child h1 {
    font-size: 1rem;
}
.content-child div{padding: 5px;}
.content-child{padding-right: 10%;}
}