@font-face {
  font-family: BebasNeue;
  src: url('https://mejdikazdarlli.github.io/jewellery/fonts/BebasNeueBook.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --gold: #bd9e74;
  --goldLighter: #bbab94;
  --darkBleu: #02080d;
  --lighterBleu: rgba(9, 45, 71, 1);
}

body,
html {
  overflow-x: hidden;
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  font-weight: 400;
  font-size: 25px;
  user-select: none;
  height: fit-content;
  width: 100vw;
  font-family: BebasNeue !important;
  background-color: rgb(36, 36, 36);
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lighterBleu);
}

.list_container::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lighterBleu);
  border-radius: 5px;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-size: 25px;
  font-weight: 400;
}

.custom-header-jewel {
  position: fixed;
  height: 75px;
  width: 100vw;
  /* background: -moz-linear-gradient(-180deg, rgba(2, 8, 13, 1) 0%, rgba(9, 45, 71, 1) 90%);
  background: -webkit-linear-gradient(-180deg, rgba(2, 8, 13, 1) 0%, rgba(9, 45, 71, 1) 90%);
  background: linear-gradient(-180deg, rgba(2, 8, 13, 1) 0%, rgba(9, 45, 71, 1) 90%); */
  /* border-bottom: 1px solid var(--gold); */
  z-index: 4;
  transition: border-bottom 2s ease, background-color 2s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-top: 2.0rem; */
}


.custom-header-jewel .custom-nav-jewel {
  /* padding-top: 20px; */
  color:white;
  text-align: center;
  font-family: BebasNeue !important;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-transform: uppercase;
  width: fit-content;
  padding-right: 35vw;
}

.custom-header-jewel .custom-nav-jewel a {
  padding: 0 15px;
  font-family: BebasNeue !important;
  font-size: 25px;
  font-weight: 400;
}

.page__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}



/**************** perry ***********************/
header svg {
  width: 7vw;
  height: auto;
  padding-left: 1vw;
}
.header-vid {
  position: relative;
  right: 0;
  top: 0;
  z-index: 0;
  left: 0;
  margin: auto;
}

@media (min-aspect-ratio: 16/9) {
  .header-vid {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .header-vid {
    width: auto;
    height: 100%;
  }
}

.sticky {
  background: white;
  border-bottom: 1px solid black;
}

.sticky .custom-nav-jewel {
  color: black;
}

#mouse-scroll {
  display: flex;
  position: absolute;
  margin: auto;
  left: 50%;
  top: 90vh;
  transform: translateX(-50%);
  border-radius: 70px;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
}

#mouse-scroll .mouse {
  background: rgb(2, 8, 13);
  background: -moz-linear-gradient(180deg, rgba(2, 8, 13, 1) 0%, rgba(9, 45, 71, 1) 60%);
  background: -webkit-linear-gradient(180deg, rgba(2, 8, 13, 1) 0%, rgba(9, 45, 71, 1) 60%);
  background: linear-gradient(180deg, rgba(2, 8, 13, 1) 0%, rgba(9, 45, 71, 1) 60%);
  height: 50px;
  width: 32px;
  border-radius: 20px;
  transform: none;
  top: 170px;
  border: 1px solid white;
}

#mouse-scroll .mouse .mouse-in {
  top: 8px;
  height: 14px;
  width: 2px;
  border-radius: 10px;
  display: block;
  margin: 5px auto;
  background: #FFEDC3;
  animation: animated-mouse 1.2s ease infinite;
  position: relative;
}

.scroll-indication {
  font-weight: 500 !important;
  color: white;
  margin-top: 5px;
  text-align: center;
}

@keyframes animated-mouse {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(6px);
  }
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  margin-bottom: .5rem;
}
.display-btn{
  color: #fff!important;
    background-color: #000!important;
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    z-index: 1;
    text-decoration: none;
    border: none;
    padding: .3rem;
}
.display-right{
  left: calc(100% - 2.4rem);
}
.myslides {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}
.slide {
  position: absolute;
  top: 0%;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.slide1{
  background-image: url(images/PERRY-photo-2563129.webp);
}
.slide2{
  background-image: url(images/PERRY-photo-2563130.webp);
}
.slide3{
  background-image: url(images/PERRY-photo-2563131.webp);
}
.slide4{
  background-image: url(images/PERRY-photo-2563132.webp);
}
.slide5{
  background-image: url(images/PERRY-photo-2563129.webp);
}
.slide.active {
  opacity: 1;
  transform: translateX(0);
}

.slide-out {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.5s;
}


.theme {
  display: flex;
  width: 100%;
  height: 460px;
  background-position: center;
  background-size: cover;
  margin: 0.3rem 0;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 4%;
  padding-top: 2%;
  color: white;
  font-family: BebasNeue !important;
  z-index: 1;
}
.theme h1 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
  width: fit-content;
  letter-spacing: 0.1rem;
  font-family: BebasNeue !important;
}
.theme h2 {
  width: 50%;
  font-size: 1.0rem;
  font-weight: 100;
  width: fit-content;
  font-family: BebasNeue !important;
}
.theme button{
  display: block;
  width: fit-content;
  height: auto;
  padding: 0.5rem 5rem;
  margin-top: 2rem;
  text-transform: uppercase;
  border: none;
  text-align: inherit;
  font: inherit;
  border-radius: 10px;
  appearance: none; 
  cursor: pointer;
  font-size: 25px;
  transition: all 0.5s;
  font-weight: 900;
  letter-spacing: 0.2rem;
  color: var(--lighterBleu);
  background-color: var(--gold);
  font-family: BebasNeue !important;
  
}
.theme button:hover{
  background-color: var(--lighterBleu);
  color: white;
}
.band0{
  background-image: url(images/custom.jpg);
  background-position: 0% 40%;
}
.band0 h2{
 width: 29%;
}
.band1{
  background-image: url(images/certissagetourmaline.jpg);
  color: black;
  background-position: bottom;
}
.band1 h2{
  width: 28%;
 }
.band2{
  background-image: url(images/RENSEIGNEMENT.jpg);
  color: white;
  background-position: bottom;
}
.band2 h2{
  width: 28%;
 }
.band3{
  background-image: url(images/polissage.jpg);
  color: white;
}
.band3 h2{
  width: 28%;
 }
.band4{
  background-image: url(images/bijouxAtelier.jpg);
  color: white;
  align-items: flex-end;
  padding-right: 4%;
  padding-left: 0%;
  justify-content: center;
}
.band4 h2{
  width: 28%;
 }
/******************** OUR TEAM **************************/
.ourTeam {
  top: 0px;
  position: relative;
  width: 100%;
  min-height: 500px;
  background-image: url("images/team2.webp");
  background-position: 0% 50%;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-family: BebasNeue !important;
}

.ourTeam .content {
  display: flex;
  width: 40%;
  padding-left: 5%;
  height: fit-content;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #ffffffa1;
  font-family: BebasNeue !important;
}

.ourTeam .content h2 {
  color: black;
  font-size: 2rem;
  font-weight: 900;
  padding-bottom: 1rem;
  font-family: BebasNeue !important;
}

.ourTeam .content p {
  color: black;
  font-size: 1.0rem;
  font-weight: 300;
  font-family: BebasNeue !important;
}

/******************** FOOTER **************************/
.footer-main {
  position: relative;
  top: 20px;
  padding-top: 10px;
  border-top: dotted 1px white;
}

.footer-main .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.address-box {
  padding: 10px 0;
  margin: 0px 10px;
}

.add-icon {
  float: left;
  width: 60px;
  display: inline-block;
  padding: 0px 5px;
}

.address-box .add-icon {
  background: #27303b;
  height: 75px;
  line-height: 75px;
  width: 75px;
  margin-right: 20px;
  text-align: center;
}

.add-icon img {
  width: 100%;
}

.address-box .add-icon img {
  max-width: 40px;
}

.add-content {
  padding-left: 70px;
}

.add-content h5 {
  font-size: 17px;
  color: #ffffff;
  padding: 0;
  font-weight: 500;
  margin-bottom: 10px;
}

.add-content p {
  font-size: 13px;
  color: #999999;
  font-weight: 300;
}

.add-content p a {
  font-size: 14px;
  color: #999999;
  font-weight: 300;
  word-wrap: break-word;
}

.add-content p a:hover {
  color: var(--gold);
}

.section_social {
  margin: 0% !important;
}

.carosel {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  font-family: BebasNeue !important;
}

.carosel .item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: url("images/item1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: calc(100% / 4);
  overflow: hidden;
}

.carosel .item:nth-child(2) {
  background: url("images/item2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.carosel .item:nth-child(3) {
  background: url("images/item3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.carosel .item:nth-child(4) {
  background: url("images/item4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.carosel .item h1 {
  position: relative;
  bottom: 0%;
  font-weight: 900;
  color: white;
  font-size: 45px;
  letter-spacing: 0.3rem;
  transition: all 0.5s;
  font-family: BebasNeue !important;
}

.carosel .item button {
  position: relative;
  display: block;
  width: fit-content;
  height: auto;
  padding: 0.5rem 5rem;
  text-transform: uppercase;
  border: none;
  text-align: inherit;
  font: inherit;
  border-radius: 10px;
  appearance: none;
  cursor: pointer;
  font-size: 25px;
  transition: all 0.5s;
  font-weight: 900;
  letter-spacing: 0.2rem;
  bottom: -20%;
  background-color: var(--lighterBleu);
  color: white;
  filter: none;
  font-family: BebasNeue !important;
}

.carosel .item button:hover {
  background-color: var(--gold);
}

.carosel .item:hover>button {
  bottom: 5%;
}

.carosel .item:hover>h1 {
  bottom: 6%;
  font-size: 25px;
}

/*
.createur{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: -100px;
  width: 100%;
  height: fit-content;
  padding-top: 1rem;
}
.createurRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 2rem;
}
.createurRight .title{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 40px;
  color: var(--gold);
  padding-bottom: 2rem;
}
.createurRight .title span{
  font-size: 25px;
  padding-left: 0.2rem;
}
.createurRight h1{
  font-size: 21px;
  font-weight: 900;
  color: white;
  padding-bottom: 0.5rem;
  letter-spacing: 0.1rem;
}
.createurRight h2{
  font-size: 20px;
  font-weight: 200;
  color: white;
  line-height:1.0rem;
}
.createurLeft{
  width: 30%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.createurLeft img{
  width: auto;
  height: 500px;
}*/

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 10;
  width: fit-content;
  margin: 0.3rem;
  right: 0rem;
  position: fixed;
  overflow-y: auto;
  z-index: 11;
}

.bar1,.bar2,.bar3 {
  width: 50px;
  height: 10px;
  background-color: var(--gold);
  margin: 3px 0;
  border-radius: 0.5rem;
  border: 0.05rem solid black;
  transition: all 0.5s ease;
}

/* Styles for the navigation menu */
.menu {
  display: none;
  flex-direction: column;
  background-color: rgb(36, 36, 36);
  position: absolute;
  top: 0px;
  right: -250px;
  width: 100vw;
  transition: right 0.5s ease;
  position: fixed;
  z-index: 10;
}

.menu.open {
  right: 0;
}
.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 10px;
  text-align: center;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 950px) {
  .openbarTop{
    transform: rotate(45deg) translate(10px, 10px);
  }
  .openbarBottom{
    transform: rotate(-45deg) translate(13px, -13px);
  }
  .openbarMidlle{
    opacity: 0;
  }
    .menu-toggle {
        display: flex;
    }

    .menu {
        right: -100vw;
        display: flex;
    }
  .display-btn{
    height: 5rem;
    width: 2rem;
    background-color: rgba(0, 0, 0,0.5) !important;
  }
  .display-right{
    left: calc(100% - 4.2rem);
  }
  body{overflow-x: clip;}
  .custom-header-jewel{display: none;}
  #mouse-scroll{display: none;}
  .theme{align-items: center;justify-content: center;padding: 2% 2% 2% 2%;height: 400px;}
  .theme h1{font-weight: 900;font-size: .9rem;text-align: center;letter-spacing: 0.05rem;}
  .theme h2{width: 100%;font-size: 1rem;text-align: center;}
  .band0{background-position: 50% 40%;}
  .theme .textbg{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 10px;
    color: black;
    padding: 0.1rem 0.3rem;
  }
  .band4{color: black;}
  .theme button {
    padding: 0.5rem 2rem;
    font-size: 20px;
  }
  .carosel{flex-wrap: wrap;padding: 0.25rem;}
  .carosel .item {width: 40vw;height: 25vh; margin: 0.15rem;justify-content: center}
  .carosel .item button{width: 100%;text-align: center;padding: 0.5rem 0rem;border-radius: 0px;font-size: 20px;}
  .carosel .item h1{font-size: 20px;letter-spacing: 0.15rem;}
  .address-box {display: flex;    align-items: flex-start;
    justify-content: flex-start;}
  .address-box .add-icon {width: fit-content;
    height: fit-content;
    line-height: inherit;
    padding: 10px;}
  .add-content{padding-left: 0px;display: flex;align-items: flex-start;
    flex-direction: column;}
}